---
const { title, description, image, pubDate, url } = Astro.props;
---

<div class="blogpost-list">
  <li>
    <div class="blogpost-content">
      <a href={url}>
        {title}
      </a>
      <p>{description}</p>
      <p>{pubDate}</p>
    </div>
    <img src={image.url} alt={image.alt} />
  </li>
</div>
<hr />

<style>
  .blogpost-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .blogpost-list {
    padding: 35px;
  }

  .blogpost-list:hover {
    color: #1976d2;
    background-color: rgba(2, 11, 22, 0.03);
  }

  .blogpost-content {
    display: flex;
    justify-content: start;
    width: 50%;
  }

  .blogpost-content a {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .blogpost-content p {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 10px;
  }

  .blogpost-list .blogpost-content {
    display: flex;
    flex-direction: column; /* 使 title、description 和 pubDate 垂直排列 */
    gap: 10px; /* 提供垂直间距，根据需要进行调整 */
    margin-bottom: 10px;
  }

  .blogpost-list img {
    width: 230px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 20px;
  }

  hr {
    border: 1px solid rgba(128, 128, 128, 0.12);
    margin: 0 35px 0 35px;
  }
</style>
